# Larry Sanders's Dream Home

Our client Mr. Larry Sanders, shares one of the biggest american dreams: he wants to buy a home. The wished location is King County - Washington. It is one of the healthiest Counties in the USA, where life expectancy reaches 82.3 years, way above national average. It is also a wealthy area, where median household income is also above national average, and reaches $122,148 per household.  (Source: https://datausa.io/).

Mr. Sanders has a limited budget, and wants a waterfront home. It has to be nice and isolated, but still within a central neighborhood. One important criteria is that the neighborhood should not have many kids, since Mr. Sanders prefers that his children does not interact with others (too many germs out there!)

### Summary of Client's Demands:
- Waterfront home
- Limited Budget
- Nice & Isolated Property
- Central Neighborhood
- No kids Neighborhood
- Bonus: Data about area cleaness

### Working with the provided Data

For this client's analysis, we will be working with the King County Database. We will first import it, and then filter relevant information for our case. We will be also cleaning the Data, to make sure we have the best outcome possible through out analysis.

In [1]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# Import and manage data
df = pd.read_csv("../data/KingCounty_joinedTable.csv", sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   bedrooms       21597 non-null  float64
 2   bathrooms      21597 non-null  float64
 3   sqft_living    21597 non-null  float64
 4   sqft_lot       21597 non-null  float64
 5   floors         21597 non-null  float64
 6   waterfront     19206 non-null  float64
 7   view           21534 non-null  float64
 8   condition      21597 non-null  int64
 9   grade          21597 non-null  int64
 10  sqft_above     21597 non-null  float64
 11  sqft_basement  21145 non-null  float64
 12  yr_built       21597 non-null  int64
 13  yr_renovated   17749 non-null  float64
 14  zipcode        21597 non-null  int64
 15  lat            21597 non-null  float64
 16  long           21597 non-null  float64
 17  sqft_living15  21597 non-null  float64
 18  sqft_lot15     21597 non-null  float64
 19  date           21597 non-null  object
 20  price          21597 non-null  float64
 21  house_id       21597 non-null  int64
 22  id.1           21597 non-null  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 3.8+ MB

In [52]:
# Data cleaning

#Checking for Duplicates
df.duplicated().value_counts()
#No Duplicates were found

#Transforming Date Column from Object to Date Format
df ['date'] = pd.to_datetime(df['date'],format="%Y-%m-%d")

#Checking for Data Types
df.dtypes
#All are integers and floats, except for Date (which was an object and is datetime now)

df["yr_renovated"] = df["yr_renovated"].fillna(0).round(0).astype(int)
df.yr_renovated = df.yr_renovated.apply(lambda x: int(str(x)[:4]))

df.query('yr_renovated > 0')

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price
1,6414100192,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,7,...,400.0,1951,1991,98125,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0
35,9547205180,3.0,2.50,2300.0,3060.0,1.5,0.0,0.0,3,8,...,790.0,1930,2002,98115,47.6827,-122.310,1590.0,3264.0,2014-06-13,696000.0
95,1483300570,4.0,2.50,3300.0,10250.0,1.0,0.0,0.0,3,7,...,910.0,1946,1991,98040,47.5873,-122.249,1950.0,6045.0,2014-09-08,905000.0
103,2450000295,3.0,2.50,2920.0,8113.0,2.0,0.0,0.0,3,8,...,0.0,1950,2010,98004,47.5814,-122.196,2370.0,8113.0,2014-10-07,1090000.0
125,4389200955,4.0,2.75,2750.0,17789.0,1.5,0.0,0.0,3,8,...,770.0,1914,1992,98004,47.6141,-122.212,3060.0,11275.0,2015-03-02,1450000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19602,6392000625,2.0,1.00,900.0,6000.0,1.0,0.0,0.0,3,7,...,0.0,1944,2004,98115,47.6855,-122.289,1460.0,4800.0,2014-07-12,451000.0
20041,126039256,3.0,2.00,1520.0,5040.0,2.0,0.0,0.0,3,7,...,0.0,1977,2006,98177,47.7770,-122.362,1860.0,8710.0,2014-09-04,434900.0
20428,4305600360,4.0,2.50,2400.0,9612.0,1.0,0.0,0.0,3,8,...,1170.0,1962,2009,98059,47.4799,-122.127,2430.0,5539.0,2015-02-25,500012.0
20431,3319500628,3.0,1.50,1010.0,1546.0,2.0,NaN,0.0,3,8,...,0.0,1971,2014,98144,47.5998,-122.311,1010.0,1517.0,2015-02-12,356999.0
20946,1278000210,2.0,1.00,828.0,4524.0,1.0,0.0,0.0,3,6,...,0.0,1968,2007,98001,47.2655,-122.244,828.0,5402.0,2015-03-11,110000.0